<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="NetDimension.NanUI" version="0.9.90.193" targetFramework="net472" />
  <package id="NetDimension.NanUI.Runtime" version="90.6.7.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SharpGen.Runtime" version="2.0.0-beta.11" targetFramework="net472" />
  <package id="SharpGen.Runtime.COM" version="2.0.0-beta.11" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.0" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.0" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net472" />
  <package id="Vanara.Core" version="3.4.3" targetFramework="net472" />
  <package id="Vanara.PInvoke.DwmApi" version="3.4.3" targetFramework="net472" />
  <package id="Vanara.PInvoke.Gdi32" version="3.4.3" targetFramework="net472" />
  <package id="Vanara.PInvoke.Kernel32" version="3.4.3" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shared" version="3.4.3" targetFramework="net472" />
  <package id="Vanara.PInvoke.SHCore" version="3.4.3" targetFramework="net472" />
  <package id="Vanara.PInvoke.User32" version="3.4.3" targetFramework="net472" />
  <package id="Vanara.PInvoke.UxTheme" version="3.4.3" targetFramework="net472" />
  <package id="Vortice.Direct2D1" version="2.1.19" targetFramework="net472" />
  <package id="Vortice.Direct3D11" version="2.1.19" targetFramework="net472" />
  <package id="Vortice.DirectX" version="2.1.19" targetFramework="net472" />
  <package id="Vortice.DXGI" version="2.1.19" targetFramework="net472" />
  <package id="Vortice.Mathematics" version="1.4.16" targetFramework="net472" />
</packages>